<script>
  import Item from "./Item.svelte";
  import { cartStore } from "../stores.js";
  import cartIcon from "../../assets/svg/cart-icon.svg";

  export let tshirts;
  let cartDialog;

  function cartOpen() {
    cartDialog.setAttribute("open", "");
  }

  function cartClose() {
    cartDialog.removeAttribute("open");
  }

  function cartToggle() {
    cartDialog.getAttribute("open") === null ? cartOpen() : cartClose();
  }

  function placeOrderHandler() {
    console.log("hi");
  }
</script>

<style>
  :global(*) {
    font-family: "Courier New", Courier, monospace;
  }
  :global(body) {
    background-color: thistle;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > h3 {
    flex: 5;
  }

  header > div {
    flex: 1;
  }

  td {
    text-align: center;
    padding: 1em;
    white-space: nowrap;
  }

  span > p {
    text-align: center;
  }

  #cartDialog {
    position: fixed;
    top: 40%;
  }

  #listings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
</style>

<header>
  <h3>Mr Bear's Shop</h3>
  <div on:click={cartToggle}>
    {@html cartIcon}
  </div>
</header>

<div id="listings">
  {#each tshirts as tshirt}
    <Item details={tshirt} />
  {/each}
</div>

<dialog id="cartDialog" bind:this={cartDialog}>
  {#if $cartStore.length == 0}
    <span>
      <p>Your cart is empty :(</p>
    </span>
  {:else}
    <table>
      <thead>
        <tr>
          <th scope="row">Quantity</th>
          <th scope="row">Item</th>
          <th scope="row">Size</th>
          <th scope="row">Price</th>
        </tr>
      </thead>
      <tbody>
        {#each $cartStore as order}
          <tr>
            <td>{order.quantity}</td>
            <td>{order.friendlyName}</td>
            <td>{order.size}</td>
            <td>{order.priceUSD}</td>
          </tr>
        {/each}
      </tbody>
    </table>
    <button id="submit-order" value="submit" on:click={placeOrderHandler}>
      Place Order
    </button>
  {/if}
  <button id="continue-shopping" on:click={cartClose}>Continue shopping</button>
</dialog>

<button on:click={cartOpen}>Go to cart</button>
